<style>

.dummy {
  display: block;
}

main h2 {
  text-align: center; 
  align-content: center;
  display: block;
  font: Arial, Helvetica, sans-serif;
  color: blue;
  background-color: #b6b6bf;
  padding: 5px 0px;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

#screem-lista label {
  font: Arial, Helvetica, sans-serif;
  color: blue;
  background-color: #b6b6bf;
}

.presentacion {
  text-align: center; 
  align-content: center;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://www.gittservices.com/images/andrew-neel-cckf4TsHAuw-unsplash.jpg");
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: calc( 100vh - 200px);
  position: relative;
  height: auto;
  vertical-align: middle;
}

.presentacion h2 {
  text-align: center; 
  margin: auto;
  display: block;
  font: Arial, Helvetica, sans-serif;
  color: blue;
  background-color: #b6b6bf;
  padding: 5px 0px;
  width: 60vw;
  vertical-align: middle;
}

.container-fluid div p {
  text-align: center; 
  margin: auto;
  display: inline-block;
  /*font: Arial, Helvetica, sans-serif;
  font-size: 40px;*/
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: transparent;
  padding: 5px 0px;
  width: 60vw;
  vertical-align: middle;
}

/* Include the padding and border in an element's total width and height */
.Lista {
  box-sizing: border-box;
}
    
/* Style the header_2 */
.header_2 {
  background-color: #368ef4;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header_2 */
.header_2:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the close button */
.close {
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
    
.close:hover {
  background-color: #f44336;
  color: white;
}
    
.table-container {
  border-collapse: collapse;
  border-spacing: auto;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
  display: inline-block;
}

#my_ship_in tr:nth-child(even) {
  background-color: #f2f2f2;
}
    
.preview-container {
  width:100%;
  max-width:500px; 
}
    
video {
  width: 100%;
  height: auto;
}

.btn, .btn2 {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

.btn2 {
  background-color: #36f436;
  padding: 8px 16px;
  border-radius: 5px;
}

.btn:hover, .btn2:hover {opacity: 1}
    
#audio {display: none}
    
</style>