<style>

.table_container {
    display: block;
    height: auto;
    width: 70vw;
    margin: auto;
    padding: 10px 0px;
    padding-bottom: 70px;
}

main h2 {
  text-align: center; 
  align-content: center;
  display: block;
  font: Arial, Helvetica, sans-serif;
  color: blue;
  background-color: #b6b6bf;
  padding: 5px 0px;
}

div.dataTables_wrapper {
        width: 70vw;
        margin: 0 auto;
    }

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.data_container {
  text-align: center; 
  align-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://cmenvios.000webhostapp.com/images/andrew-neel-cckf4TsHAuw-unsplash.jpg");
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  display: block;
  min-height: calc( 100vh - 200px);
  position: relative;
  height: auto;
  vertical-align: middle;
}

#data-client {
  margin: auto;
  display: block;
  font: Arial, Helvetica, sans-serif;
  color: blue;
  background-color: #f6f6fd;
  padding: 5px 0px;
  width: 60vw;
  vertical-align: middle;
}
    
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
  opacity: 0.96;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
  opacity: 1.0;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
  opacity: 1.0;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}
</style>