<style>

.img-big {
  height: auto;
}

.formu {
  text-align: center; 
  align-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://www.pegasoenvios.com/images/delivery_man.jpg");
  background-position:50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  align-content: center;
  display: block;
  min-height: calc( 87vh - 200px);
  position: relative;
  height: auto;
  vertical-align: middle;
}

.formu2 {
  text-align: center; 
  align-content: center;
  display: block;
  min-height: calc( 87vh - 200px);
  position: relative;
  height: auto;
  object-fit: contain;
  vertical-align: middle;
}

label {
        display: block;
}

/* Add styles to the form container */
.container-reg {
  position: relative;
  margin: auto;
  max-width: 40vw;
  padding: 16px;
  background-color: rgb(241, 241, 241, 0.5);
}

/* Full-width input fields */
input[type=text], input[type=password], select {
  width: 30vw;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  
}

input[type=text]:focus, input[type=password]:focus, select:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

#respuesta {
  width: 80vw; 
  height: 100px;
  background-color: rgb(241, 241, 241, 0.5);
  margin: auto;
}

.formu div h2 {
  font: Arial, Helvetica, sans-serif;
  color: blue;
  background-color: rgb(241, 241, 241);
}

@media screen and (max-width: 900px){
    .container-reg {
      position: relative;
      margin: auto;
      max-width: 90vw;
      padding: 16px;
      background-color: rgb(241, 241, 241, 0.5);
    }
    
    /* Full-width input fields */
    input[type=text], input[type=password], select {
      width: 80vw;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;

    }
}

main h2 {
  text-align: center; 
  align-content: center;
  display: block;
  font: Arial, Helvetica, sans-serif;
  color: blue;
  background-color: #b6b6bf;
  padding: 5px 0px;
}
    
</style>